<form class="container full-screen-form" name="change-password" method="post">
  <header>
    <h2>Change password</h2>
  </header>
  <label for="old-password">Old password</label>
  <input id="old-password" type="password" name="old_password" required />
  <label for="new-password">New password</label>
  <input id="new-password" type="password" name="new_password" required />
  <label for="confirm-password">Confirm password</label>
  <input id="confirm-password" type="password" name="confirm_password" required />
  <% if flash['errors'] %>
    <small class="error"><%= flash['errors'].join('<br>') %></small>
  <% end%>
  <footer>
    <a href="/admin">Back</a>
    <button type="submit">Update</button>
  </footer>
</form>
