<form class="container full-screen-form" name="change-password" method="post">
  <header>
    <h2>Change password</h2>
  </header>
  <label for="old-password">Old password</label>
  <input id="old-password" type="password" name="old_password" required minlength="8" />
  <label for="new-password">New password</label>
  <input id="new-password" type="password" name="new_password" required minlength="8" oninput="validatePassword()" />
  <label for="confirm-password">Confirm password</label>
  <input id="confirm-password" type="password" required minlength="8" oninput="validatePassword()" />
  <footer>
    <a href="/admin">Back</a>
    <button type="submit">Update</button>
  </footer>
</form>
