<form class="container full-screen-form" name="forgot-password" method="post">
  <header>
    <h2>Reset password</h2>
  </header>
  <label for="password">Password</label>
  <input id="new-password" type="password" name="password" required minlength="8" oninput="validatePassword()" />
  <label for="confirm-password">Confirm password</label>
  <input id="confirm-password" type="password" required minlength="8" oninput="validatePassword()" />
  <footer>
    <button type="submit">Reset</button>
  </footer>
</form>
