<form class="card full-screen-form" name="forgot-password" method="post">
  <header>
    <h2>Reset password</h2>
  </header>
	<div class="card-body">
		<label for="new-password">Password</label>
		<input id="new-password" type="password" name="new_password" required />
		<label for="confirm-password">Confirm password</label>
		<input id="confirm-password" type="password" name="confirm_password" required />
		<% if flash['errors'] %>
			<small class="error"><%= flash['errors'].join('<br>') %></small>
		<% end %>
		<footer>
			<button type="submit">Reset</button>
		</footer>
	</div>
</form>
