<form
  class="card full-screen-form"
  name="forgot-password-new"
  action="/forgot-password"
  method="post"
>
  <header>
    <h2>Forgot password</h2>
  </header>
	<div class="card-body">
		<label for="email">Email</label>
		<input id="email" name="email" required />
		<% if flash[:errors] %>
			<small class="error"><%= flash[:errors].join('<br>') %></small>
		<% end %>
		<footer>
			<button type="submit">Send password reset email</button>
		</footer>
	</div>
</form>
