<form
  class="container full-screen-form"
  name="forgot-password-new"
  action="/forgot-password"
  method="post"
>
  <header>
    <h2>Forgot password</h2>
  </header>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" required />
  <footer>
    <button type="submit">Send password reset email</button>
  </footer>
</form>
