<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/stylesheet.css">
		<title>Teatree</title>
		<meta property="og:title" content="Teatree" />
		<meta property="og:url" content="https://teatr.ee" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="A landing page for your online world" />
	</head>
	<body>
		<header id="site-header">
			<h1>Teatree</h1>
			<p><a href="/login">Log in</a> or <a href="/signup">Sign up</a></p>
		</header>
		<main id="site-content">
			<section id="outline">
				<h1>Teatree</h1>
				<p>
					Teatree is a landing page for your online world. Links are what
					connect the online world. Teatree gives you a central place where
					you can collect links for whatever you like.
				</p>
				<p>
					Here are some things you can do with Teatree:
					<ul>
						<li>Make a personal landing page</li>
						<li>Collect links to showcase your most important or most relevant work</li>
						<li>Make a new tab page for your browser with your frequently used links</li>
						<li>Create a page to easily share bookmarks with friends</li>
						<li>Use it as a link-in-bio tool for your social media</li>
						<li>
							If you're a developer, or you're inclined to learn a little html/css,
							there are some hidden goodies in there too!
						</li>
					</ul>
				</p>
				<h2>Philosophy</h2>
				<p>
					Teatree is designed with simplicity in mind. In a world where we are surrounded by
					bloated software, Teatree aims to be a breath of fresh air.
				</p>
				<p>
					Teatree is open-source software. The source code can be found
					<a href="https://github.com/aronlebani/teatree">here</a>.
				</p>
				<h2>Enough jibber jabber</h2>
				<p>Play around, experiment, and Have fun!</p>
				<p><a href="/login">Log in</a> or <a href="/signup">Sign up</a>.</p>
			</section>
		</main>
		<footer id="site-footer">
      <small>
        Made by Aron Lebani, <a href="mailto:aron@lebani.dev">aron@lebani.dev</a>.
        <br />
        This software is free and open-source &mdash; <a href="https://github.com/aronlebani/teatree" target="_blank">view source</a>.
        <br />
        If you find Teatree useful, please consider making a <a href="https://www.paypal.com/donate/?hosted_button_id=WDXMN26JPFAXL" target="_blank">small donation</a>.
      </small>
		</footer>
	</body>
</html>
