<form
  class="card full-screen-form"
  action="/admin/integration/<%= @integration['id'] %>/mailchimp"
  method="post"
>
  <header>
    <h2>Set up Mailchimp integration</h2>
  </header>
	<div class="card-body">
		Steps to setup up your integration in Mailchimp
		<ol>
			<li>Log into Mailchimp.</li>
			<li>Click your username, select Account, and navigate to the API keys screen.</li>
			<li>Hit Extras and select API Keys.</li>
			<li>Scroll down and select Create a Key.</li>
			<li>Copy the newly generated Key, and paste it into the field below.</li>
		</ol>
		<aside class="mailchimp-note">
			Note that if you have multiple mailing lists, subscribers will
			automatically be subscribed to the first list.
		</aside>
		<label for="mailchimp-api-key">Mailchimp API key*</label>
		<input id="mailchimp-api-key" name="mailchimp_api_key" required />
		<small>
			*This is only used to enable the integration. We don't store your API
			key on our server.
		</small>
		<% if flash[:errors] %>
			<small class="error"><%= flash[:errors].join('<br>') %></small>
		<% end%>
		<footer>
			<a href="/admin">Back</a>
			<button type="submit">Save</button>
		</footer>
	</div>
</form>
