<form
  class="card full-screen-form"
  action="/admin/link/<%= @link['id'] %>"
  method="post"
>
  <header>
    <h2>Edit link</h2>
  </header>
	<div class="card-body">
		<label for="title">Title</label>
		<input id="title" name="title" value="<%= @link['title'] %>" required />
		<label for="href">URL</label>
		<input id="href" name="href" value="<%= @link['href'] %>" required />
		<% if flash[:errors] %>
			<small class="error"><%= flash[:errors].join('<br>') %></small>
		<% end%>
		<footer>
			<a href="/admin">Back</a>
			<button type="submit">Save</button>
		</footer>
	</div>
</form>
