<form
  class="container full-screen-form"
  action="/link"
  method="post"
>
  <header>
    <h2>New link</h2>
  </header>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" value="" required />
  <label for="href">URL</label>
  <input id="href" type="url" name="href" value="" required />
  <footer>
    <a href="/admin">Back</a>
    <button type="submit">Add</button>
  </footer>
</form>
