<h1>Privacy policy</h1>
<a href="/">Back home</a>
<p>
	If you have any questions, please reach out to hello@teatr.ee support via email.
</p>
<h2>What we collect and why</h2>
<p>
	The only data we require of your account is your email address; a username of
	your choosing, which must be unique among all users; and a password. Your
	email and username are stored in "plain text". Your password is stored after
	processing with bcrypt, from which the original password cannot be devised
	without a computationally expensive process. However, given your password, we
	can determine that it matches our stored key without expensive processing.
	The purpose of this step is to ensure that should our database become
	compromised, your original password will be difficult to recover. Regardless,
	you are strongly encouraged to use a unique password for your teatr.ee
	account.
</p>
<p>
	We also store various other kinds of information that you explicitly choose
	to give us, including (but not limited to):
</p>
<ul>
	<li>Links you input into the site</li>
	<li>A profile title you input into the site</li>
	<li>Subscribe URLs for any mail list integrations you set up</li>
</ul>
<p>
	We do not store any API keys or secrets for third-party integrations.
</p>
<p>
	We also use cookies to store long-lived authorization data, to remember that
	you're logged into your account between visits without prompting you for your
	password again. We also use cookies to store short-lived information, like
	the fact that we have to tell you on the next page you load that we completed
	some operation successfully for you.
</p>
<h2>How we share your information with third-parties</h2>
<p>
	Aside from information you choose to make public in the course of your use of
	teatr.ee and information you explicitly choose to share with specific third
	parties, none of your information is shared with third parties. We do not
	embed third-party content in our website.
</p>
<p>
	We permit user-generated content to include images from and links to
	third-party sites. On pages displaying this content, information may be sent
	to these third-parties. This information includes:
</p>
<ul>
	<li>Your IP address</li>
	<li>
		Information about your web browser, such as whether you use Firefox or
		Chrome
	</li>
	<li>The URL on teatr.ee you visited when you saw this content</li>
	<li>
		We are not responsible for any additional information your web browser may
		send to these third parties.
	</li>
</ul>
<h2>How to access and control the information we've collected</h2>
<p>
	You may submit a request via email to support to request an archive of the
	information we've collected about you, or to request that we remove any
	information we've collected about you.
</p>
<p>
	You may also reach out to our data protection officer directly: Aron Lebani
	aron@lebani.dev.
</p>
<h2>Changes to this document</h2>
<p>
	We may make changes to this document with no less than 2 weeks notice. Notice
	of these changes will be sent to the email on file for your account.
</p>
