<form class="container full-screen-form" name="signup" method="post">
  <header>
    <h2>Sign up</h2>
  </header>
  <label for="name">Name</label>
  <input id="name" type="text" name="name" required />
  <label for="email">Email</label>
  <input id="email" type="email" name="email" required />
  <label for="username">Profile URL</label>
  <div class="columns distribute">
    <input
      id="username"
      type="text"
      name="username"
      required
      pattern="^[a-zA-Z_]+[a-zA-Z0-9_\-]+"
      title="This can be a combination of letters, numbers, and underscores. The first character must be a letter or underscore."
      oninput="updateProfileURL()"
    />
    <div id="profile-url-container">
      https://<%= @hostname %>/<span id="profile-url"></span>
    </div>
  </div>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" required minlength="8"/>
  <footer>
    <small>Already have an account? <a href="/login">Log in here</a>.</small>
    <button type="submit">Sign up</button>
  </footer>
</form>
