:root {
    --border-colour: #d0d7de;
	--accent-colour: lightskyblue;
	--background-colour: white;
	--shade-colour: #f6f8fa;
    --font-colour: #1f2328;
	--border-radius: 0.25rem;
	--content-width: 70vw;
	--content-max-width: 43rem;
}

@media only screen and (max-width: 480px) {
	:root {
		--content-width: 90vw;
		--content-max-width: 90vw;
	}
}

html {
    font-family: Helvetica,Arial,system-ui,-apple-system;
}

body {
    color: var(--font-colour);
	background-color: var(--background-colour);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.125rem;
}

p {
    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    outline: none;
    border: 1px solid var(--border-colour);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

label {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

aside {
	margin-bottom: 0.25rem;
}

#site-header {
    border-bottom: 1px solid var(--border-colour);
    background-color: var(--accent-colour);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
	box-sizing: border-box;
}

#site-content {
	padding-top: 2rem;
    width: var(--content-width);
	max-width: var(--content-max-width);
    margin: 0 auto;
}

#site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
	margin: 2rem 0;
}

.container {
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    padding: 0.5rem;
	margin-bottom: 2rem;
}

.container:first-of-type {
	margin-top: 2rem;
}

.container header {
    border-bottom: 1px solid var(--border-colour);
    background-color: var(--accent-colour);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

	/* Compensate for container padding */
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
}

.container footer {
    border-top: 1px solid var(--border-colour);

	/* Compensate for container padding */
    margin: 0.5rem -0.5rem -0.5rem -0.5rem;
}

.container header,
.container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem;
}

.container ul li:nth-of-type(odd) {
	background-color: var(--shade-colour);
}

.full-screen-form {
	margin-left: auto;
	margin-right: auto;
}

.error-container {
	margin-top: 2rem;
}

.nodecoration {
	text-decoration: none;
	color: initial;
}

/* Index */

#outline {
	margin-top: 4rem;
}

/* User */

/* Profile */

.profile-image {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--border-colour);
}

.url-controls {
	display: flex;
}

.copy-link {
	margin-right: 1rem;
}

#copied {
	display: none;
}

.colour-blob {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--border-colour);
	border-radius: 50%;
}

/* Integration */

.mailchimp-note {
	margin-bottom: 1rem;
}

/* Links */

.link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.link-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link-edit {
	margin-right: 1rem;
}
