:root {
	--colour: #244855;
	--bg-colour: floralwhite;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-size: 1.25rem;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.25rem;
	box-sizing: border-box;
    border-radius: 0.25rem;
	margin: 0.675rem 0;
}

.inner {
    padding-top: 2.5rem;
    width: min(80%, 30rem);
	margin: auto;
	text-align: center;
}

#profile-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}
